.quiz-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13%;
  /* overflow: hidden; */
  width: 100%;
}

@media (max-width: 500px) {
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
    /* overflow: hidden; */
    width: 100%;
    font-size: 4px;
  }
  .content > h3 {
    font-size: 20px;
  }
}
